serverless.yml
# Welcome to Serverless!
#
# This file is the main config file for your service.
# It's very minimal at this point and uses default values.
# You can always add more config options for more control.
# We've included some commented out config examples here.
# Just uncomment any of them to get that config option.
#
# For full config options, check the docs:
#    docs.serverless.com
#
# Happy Coding!

service: tweet-talk-lambda

# You can pin your service to only deploy with a specific Serverless version
# Check out our docs for more details
#t frameworkVersion: "=X.X.X"

custom:
  pythonRequirements:
    dockerizePip: non-linux

provider:
  name: aws
  runtime: python3.6
  environment:
    CONSUMER_KEY: ${env:CONSUMER_KEY}
    CONSUMER_SECRET: ${env:CONSUMER_SECRET}
    ACCESS_TOKEN: ${env:ACCESS_TOKEN}
    ACCESS_TOKEN_SECRET: ${env:ACCESS_TOKEN_SECRET}

# you can overwrite defaults here
#  stage: dev
#  region: us-east-1

# you can add statements to the Lambda function's IAM Role here
#  iamRoleStatements:
#    - Effect: "Allow"
#      Action:
#        - "s3:ListBucket"
#      Resource: { "Fn::Join" : ["", ["arn:aws:s3:::", { "Ref" : "ServerlessDeploymentBucket" } ] ]  }
#    - Effect: "Allow"
#      Action:
#        - "s3:PutObject"
#      Resource:
#        Fn::Join:
#          - ""
#          - - "arn:aws:s3:::"
#            - "Ref" : "ServerlessDeploymentBucket"
#            - "/*"

# you can define service wide environment variables here
#  environment:
#    variable1: value1

# you can add packaging information here
#package:
#  include:
#    - include-me.py
#    - include-me-dir/**
#  exclude:
#    - exclude-me.py
#    - exclude-me-dir/**

functions:
  hello:
    handler: handler.make_a_tweet
    timeout: 10

#    The following are a few example events you can configure
#    NOTE: Please make sure to change your handler code to work with those events
#    Check the event documentation for details
#    events:
#      - http:
#          path: users/create
#          method: get
#      - s3: ${env:BUCKET}
#      - schedule: rate(10 minutes)
#      - sns: greeter-topic
#      - stream: arn:aws:dynamodb:region:XXXXXX:table/foo/stream/1970-01-01T00:00:00.000
#      - alexaSkill
#      - alexaSmartHome: amzn1.ask.skill.xx-xx-xx-xx
#      - iot:
#          sql: "SELECT * FROM 'some_topic'"
#      - cloudwatchEvent:
#          event:
#            source:
#              - "aws.ec2"
#            detail-type:
#              - "EC2 Instance State-change Notification"
#            detail:
#              state:
#                - pending
#      - cloudwatchLog: '/aws/lambda/hello'
#      - cognitoUserPool:
#          pool: MyUserPool
#          trigger: PreSignUp

#    Define function environment variables here
#    environment:
#      variable2: value2

# you can add CloudFormation resource templates here
#resources:
#  Resources:
#    NewResource:
#      Type: AWS::S3::Bucket
#      Properties:
#        BucketName: my-new-bucket
#  Outputs:
#     NewOutput:
#       Description: "Description for the output"
#       Value: "Some output value"
stepFunctions:
  stateMachines:
    TweetAndWait:
      definition:
        Comment: "StepFunction to tweet out during an ignite talk"
        StartAt: Start A Tweet Thread
        States:
          Start A Tweet Thread:
            Type: Task
            Resource: arn:aws:lambda:#{AWS::Region}:#{AWS::AccountId}:function:${self:service}-${opt:stage}-hello
            Next: Wait For Start DateTime
          Wait For Start DateTime:
            Type: Wait
            Timestamp: "2018-04-25T20:37:00Z"
            #Timestamp: "2018-04-24T05:06:00Z"
            Next: Tweet Task
          Tweet Task:
            Type: Task
            Resource: arn:aws:lambda:#{AWS::Region}:#{AWS::AccountId}:function:${self:service}-${opt:stage}-hello
            Next: Wait 15s
            Catch:
              - Next: Retry Failed Tweet
                ErrorEquals:
                  - States.ALL
          Retry Failed Tweet:
            Default: Tweet Task
            Type: Choice
            Choices:
            - Next: Ending Task
              NumericGreaterThanEquals: 2
              Variable: $.this_tweet_attempt
          Wait 15s:
            Type: Wait
            Seconds: 15
            Next: Eval Break Out Of Loop
          Eval Break Out Of Loop:
            Default: Tweet Task
            Type: Choice
            Choices:
            - Next: Ending Task
              NumericGreaterThanEquals: 22
              Variable: $.tweet_count
          Ending Task:
            Type: Wait
            Seconds: 1
            End: true
#  activities:
#    - myTask
#    - yourTask

plugins:
  - serverless-python-requirements
  - serverless-step-functions
  - serverless-pseudo-parameters
